# Logs
**/*.log
**/*-debug.log*
**/*-error.log*

# Dependency directories
node_modules/
apps/client/node_modules/
apps/server/node_modules/

# Build output (dist folder)
apps/client/dist

# Env files
**/*.env
**/*.env.local
**/*.env.development
**/*.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TurboRepo cache and build files
**/.turbo/